.vhi__navbarContainer {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: aqua; */

}

.navbar-logo {
    margin-left: 60px;
}

.vpr_logo_file {
    width: 185px;
    height: 85px;



}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 100vh;
    height: 15vh;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
    /* background-color: blueviolet; */

}

.drop-icon {
    font-size: 17px !important;
    position: relative;
    bottom: -1px;
    left: 5px;
    color: rgb(3, 184, 3);
}

.nav-item {
    display: flex;
    align-items: center;


}

.nav-item a {
    text-decoration: none;
    color: #4E4C4C;
    font-weight: 500;

    width: 140px;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-item a.active {
    text-decoration: none;
    font-weight: 600;
    color: rgb(11, 201, 11);
}

#styleTwo {
    padding-right: 5%;
}

#styleCon {
    /* background-color: aqua; */
    width: 0px;
    padding-right: 10%;
}

#styleCon a {
    width: 40px;
    padding-right: 10%;
}

#styleHom a {
    /* background-color: blueviolet; */
    width: 90px;
    margin-right: 20%;

}

#stylefqa a {
    width: 90px;

}

#abtStyle a {
    width: 140px;
}

.nav-item a:hover {
    color: rgb(3, 184, 3) !important;
    transition: transform 200ms ease-in-out;

}