.right-login-container {
    flex: 0.5;
    /* background-color: aqua; */
    height: 100vh;
    box-shadow: 0px 0px 8px 4px rgb(198, 198, 198);

}


.navLogo-right {
    margin-left: 60px;

}

.navLogo-right img {
    width: 190px;
    height: 85px;
}



.createAcccount {
    margin-top: 7%;
    margin-left: 10%;
}

.createAcccount h1 {
    font-size: 45px;
    color: #3F3D56;
}

.createAcccount p {
    font-size: 18px;
    color: #3F3D56;
    font-weight: 500;
}

.right-login-container .side-image {
    width: 500px;
    height: 400px;
    margin-left: 10%;
    margin-top: 1%;
}